.content {
  height: 50%;
  margin-top: 110px;
  margin-bottom: 110px;
}

.home {
  height: 100%;
  width: 100%;
  background-image: url('../landing-background-mobile.jpg');
  background-size: 140%;
  background-position: center;
}

@media screen and (min-width: 1025px) {
  .home {
    background-image: url('../landing-background-desktop.jpg');
    background-size: 120%;
  }
}
