.about {
    height: 100%;
}

.home {
    height: 100%;
    width: auto;
    background-image: url('../landing-background-mobile.jpg');
    background-size: 150%;
    background-position: center;
}

@media screen and (min-width: 1025px) {
    .home {
        background-image: url('../landing-background-desktop.jpg');
        background-size: 120%;
    }
}

.login {
    height: 100%;
}

.signup {
    height: 100%;
}

.header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    overflow: hidden;
    background-color: #eec643;
}

.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    overflow: hidden;
    background-color: #eec643;
}

.content {
    position: absolute;
    top: 70px;
    bottom: 70px;
    right: 0px;
    left: 0px;
    overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */

.content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */

.content {
    -ms-overflow-style: none;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        height: 120px;
    }
    .footer {
        height: 120px;
    }
    .content {
        top: 120px;
        bottom: 120px;
    }
}